{% load static %} 
{% load poll_extras %}  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TIME CAPSULE</title>
    <link rel="stylesheet" href="{% static 'css/timecapsule.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#">TIME CAPSULE</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu" style="margin-left: 80px;"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item nav-link"><a class="nav-link active" href="#message">MESSAGE</a></li>
                    <li class="nav-item nav-link"><a class="nav-link active" href="#image">IMAGE</a></li>
                    <li class="nav-item nav-link"><a class="nav-link active" href="#vedio">VEDIO</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#audio">AUDIO</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#document">DOCUMENT</a></li>
                    <li class="nav-item nav-link"><button style="background:transparent;border: none;font-weight: bold;color: white;" class="nav-link" data-bs-toggle="modal" data-bs-target="#myModal">LOGOUT</button></li>
                    {% else %}
                    <li class="nav-item nav-link"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

                                    
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <div class="modal-body  text-dark">
                                  Click confirm button to logout
                                </div>
                   
                                <div class="modal-footer">
<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><a class="nav-link"  href="{% url 'logout'  %}">Confirm</a></button>
                              
</div>
                          
                              </div>
                            </div>
</div>


    {% if user.is_authenticated %}
    <header class="masthead" style="background-image:url({% static 'images/bg.jpg' %});">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">WELCOME</h1>
                        <p class="fs-3 intro-text text-uppercase">{{user.name}}<br>YOU GOT A POST FROM YOUR PAST</p><a class="btn btn-link btn-circle" role="button" href="#message"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="message">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>MESSAGE</h2>
                    <p>{{info.message}}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center download-section content-section" id="image">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>IMAGE</h2>
                    <div><img height="300px" width="500px" src="{{info.images.url}}" ></img></div><br>
                   
                    <a class="nav-link" href="{{info.images.url}}" download >DOWNLOAD&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none" style="font-size: 22px;margin-bottom: 8px;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17C3 16.4477 3.44772 16 4 16H16C16.5523 16 17 16.4477 17 17C17 17.5523 16.5523 18 16 18H4C3.44772 18 3 17.5523 3 17ZM6.29289 9.29289C6.68342 8.90237 7.31658 8.90237 7.70711 9.29289L9 10.5858L9 3C9 2.44772 9.44771 2 10 2C10.5523 2 11 2.44771 11 3L11 10.5858L12.2929 9.29289C12.6834 8.90237 13.3166 8.90237 13.7071 9.29289C14.0976 9.68342 14.0976 10.3166 13.7071 10.7071L10.7071 13.7071C10.5196 13.8946 10.2652 14 10 14C9.73478 14 9.48043 13.8946 9.29289 13.7071L6.29289 10.7071C5.90237 10.3166 5.90237 9.68342 6.29289 9.29289Z" fill="currentColor"></path>
                        </svg><br></a>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="vedio">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>VEDIO</h2>
                    <div>			<video  controls="controls" preload="preload" height="300px" width="500px">
						<source src="{{info.videos.url}}" type="video/mp4"></source>
					</video></div>
                    <a class="nav-link" href="{{info.vedios.url}}" download>DOWNLOAD&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none" style="font-size: 22px;margin-bottom: 8px;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17C3 16.4477 3.44772 16 4 16H16C16.5523 16 17 16.4477 17 17C17 17.5523 16.5523 18 16 18H4C3.44772 18 3 17.5523 3 17ZM6.29289 9.29289C6.68342 8.90237 7.31658 8.90237 7.70711 9.29289L9 10.5858L9 3C9 2.44772 9.44771 2 10 2C10.5523 2 11 2.44771 11 3L11 10.5858L12.2929 9.29289C12.6834 8.90237 13.3166 8.90237 13.7071 9.29289C14.0976 9.68342 14.0976 10.3166 13.7071 10.7071L10.7071 13.7071C10.5196 13.8946 10.2652 14 10 14C9.73478 14 9.48043 13.8946 9.29289 13.7071L6.29289 10.7071C5.90237 10.3166 5.90237 9.68342 6.29289 9.29289Z" fill="currentColor"></path>
                        </svg><br></a>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="audio">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>AUDIO</h2>
                    <audio controls>
                        <source src="{{info.audios.url}}" >
                    
                        </audio><br><br>
                        <a class="nav-link" href="{{info.audios.url}}" download>DOWNLOAD <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none" style="font-size: 22px;margin-bottom: 8px;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17C3 16.4477 3.44772 16 4 16H16C16.5523 16 17 16.4477 17 17C17 17.5523 16.5523 18 16 18H4C3.44772 18 3 17.5523 3 17ZM6.29289 9.29289C6.68342 8.90237 7.31658 8.90237 7.70711 9.29289L9 10.5858L9 3C9 2.44772 9.44771 2 10 2C10.5523 2 11 2.44771 11 3L11 10.5858L12.2929 9.29289C12.6834 8.90237 13.3166 8.90237 13.7071 9.29289C14.0976 9.68342 14.0976 10.3166 13.7071 10.7071L10.7071 13.7071C10.5196 13.8946 10.2652 14 10 14C9.73478 14 9.48043 13.8946 9.29289 13.7071L6.29289 10.7071C5.90237 10.3166 5.90237 9.68342 6.29289 9.29289Z" fill="currentColor"></path>
                        </svg><br></a>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="document">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>DOCUMENT</h2>
                    <h5>  <a class="nav-link" href="{{info.documents.url}} ">VIEW</a></h5>
  
                  <br>
                    <a class="nav-link" href="{{info.documents.url}} " download> DOWNLOAD&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none" style="font-size: 22px;margin-bottom: 8px;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17C3 16.4477 3.44772 16 4 16H16C16.5523 16 17 16.4477 17 17C17 17.5523 16.5523 18 16 18H4C3.44772 18 3 17.5523 3 17ZM6.29289 9.29289C6.68342 8.90237 7.31658 8.90237 7.70711 9.29289L9 10.5858L9 3C9 2.44772 9.44771 2 10 2C10.5523 2 11 2.44771 11 3L11 10.5858L12.2929 9.29289C12.6834 8.90237 13.3166 8.90237 13.7071 9.29289C14.0976 9.68342 14.0976 10.3166 13.7071 10.7071L10.7071 13.7071C10.5196 13.8946 10.2652 14 10 14C9.73478 14 9.48043 13.8946 9.29289 13.7071L6.29289 10.7071C5.90237 10.3166 5.90237 9.68342 6.29289 9.29289Z" fill="currentColor"></path>
                        </svg><br></a>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <footer>
        <div class="container text-center">
            <p>Copyright © TimeCapsule2023</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/timecapsule.js' %}"></script>
</body>

</html>